<% content_for :head do  %>
    <%=  stylesheet_link_tag "programme_groups/edit.css" %>
<% end %>
<div id="content-header">
  <div class="header-icon courses-icon"></div>
  <h1><%= t('program_groups') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('edit_text') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">

  </div>
  <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">

    <% form_for(@programme_group) do |f| %>
        <%= f.error_messages %>
        <div class="label-field-pair">
          <div class="label-container1">Name</div>
          <div class="input-container"><%= f.text_field :name %></div>
        </div>

        <div class="label-field-pair">
          <div class="label-container1">Code</div>
          <div class="input-container"><%= f.text_field :code %></div>
        </div>
        <%= submit_tag "", :value => "► Update", :class => "submit_button", :disable_with => "► #{t('please_wait')}" %>

    <%end%>
    <div class="extender"></div>
  </div>
</div>