
<div id="content-header">
 <div class="header-icon courses-icon"></div>

  <h1><%= t('program_groups') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('home_text') %></div>

  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('new_program_group')}", :action => 'new' %></li>

    </ul>
  </div>


</div>
<div id="page-yield">
  <div class="bread_crumb">

  </div>
  <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>




  <div class="box">
    <h4 align="center"><%= t('program_groups') %></h4>

    <ul id="category-list">

      <% @programme_groups.each do |pg| %>
          <li class="list<%=cycle('odd', 'even')%>">
            <div class="category-name"><%= link_to pg.name,:action=>"manage_programs",:id=>pg.id%></div>
            <div class="category-edit"><%= link_to 'Edit', edit_programme_group_path(pg) %></div>
            <div class="category-delete"><%= link_to 'Delete', :action=>:delete,:id=>pg.id %></div>
          </li>
      <% end %>

    </ul>

    <div class="extender"></div>
  </div>
</div>
