
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('programme_groups') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('update_user_program_groups') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">

  </div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
  <% end %>

  <div id="changepw-form">
    <% form_for :user do |u| %>
      <div class="box">

        <div class="batch_select_box">
          <div class="label-field-pair">
            <label> <%= t('select_programme_group') %><span class="necessary-field">*</span>:
            </label>

          <div class="fee_category_scroll">
            <div class="sel-list">
              <%= link_to_function t('all'), "$$('input.batches_box').each(function(checkbox) { checkbox.checked = true; });" %>,
              <%= link_to_function t('none'), "$$('input.batches_box').each(function(checkbox) { checkbox.checked = false; });" %>
            </div>
            <% ProgrammeGroup.active.each do |f| %>

                <div class="each_batch">

                  <%= check_box_tag "programme_group_ids[]", f.id, @user.programme_group_ids.include?(f.id), :class=>'batches_box' %> <%= f.name %>
                </div>

                <% hidden_field_tag :user_id , @user.id %>

            <% end %>
          </div>
        </div>
        </div>


        <%=  submit_tag "► #{t('update')}",:class=>'submit_button' %>

      <% end %>
    </div>
  </div>
</div>
