<div id="content-header">
  <div class="header-icon courses-icon"></div>
  <h1><%= t('courses_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('manage_course')}" %></div>

  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('new_text')}", new_course_path %> </li>

    </ul>
  </div>


</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= link_to t('configuration_text'), :controller => "configuration", :action=>"index" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "#{t('courses_text')}", :controller => "courses", :action => "index" %> <div class = "bread-crumb-separator"> > </div>
    <%= t('manage_course') %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>


  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
  <% end %>

  <div class="box">
    <% unless @courses.empty? %>
      <h4 align="center"><%= t('course_text') %></h4>

      <ul id="category-list">

        <% @courses.each do |course| %>
          <li class="list<%=cycle('odd', 'even')%>">
            <div class="category-name"><%= link_to course.full_name, course_path(course) %></div>
            <div class="category-edit"><%= link_to "#{t('edit_text')}", edit_course_path(course) if permitted_to? :edit, :courses %></div><div class="category-delete">   <%= link_to(t('delete_text'), course_path(course), :method => 'delete', :confirm => "#{t('delete_confirm_msg')}") if permitted_to? :destroy, :courses %></div>
          </li>
        <% end %>

      </ul>
      <%= will_paginate @courses, :previous_label=>t('previous_text'), :next_label=>t('next_text'), :style=>"margin-right: 200px;" %>
    <% else %>
      <p class="flash-msg"> <%= t('no_courses_present') %></p>
    <% end %>
    <div class="extender"></div>
  </div>
</div>
