


<script type="text/javascript">
  function privilege_tag_check_all_or_none(privilege_tag_id, th_is){
    field_value = th_is.checked
    $$('.privilege_check_'+privilege_tag_id).each(function(check){
      check.checked = field_value;
      if(check.checked == false){
        $(check).up('tr').removeClassName('active')
      }
      else{
        $(check).up('tr').addClassName('active')
      }
    })
  }

  function privilege_check(privilege_tag_id, th_is){
    if(th_is.checked == false){
      $$('.check_all_'+privilege_tag_id).first().checked = false
      $(th_is).up('tr').removeClassName('active')
    }
    else
    {
      $(th_is).up('tr').addClassName('active')
      var flag =0;
      $$('.privilege_check_'+privilege_tag_id).each(function(check){
        if(check.checked == false){
          flag=1;
        }
      });
      if(flag==0)
      {
        $$('.check_all_'+privilege_tag_id).first().checked = true
      }
    }
  }
</script>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('user_privilege') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('edit_privilege_text') %></div>



</div>
<div id="page-yield">
<div class="bread_crumb">
    <% breadcrumb :user_edit_privilege, @user %>
    <%= render_breadcrumbs  %>
  </div>
  <div class="privileges">
    <% form_for :user do |form| %>
      <div class="privilege_heading" id="application-list">
        <div class="label_field_pair"><label><%= t('set_privilege_for') %> <%= @user.full_name.titleize %></label></div>
        <div class="user_submit_button1">
          <%= submit_tag "", :name => "commit", :value => "► #{t('save')}" %>
        </div>
      </div>
      <div class="all_privileges_list">
        <table width="100%" align="center" cellspacing="1" cellpadding="1" class="table_design">
          <tr>
            <% @token="2"%>
            <% if @token=="1"%>
            <% @privilege_tags.each_with_index do |privilege_tag,ind| %>
              <% all_privileges = privilege_tag.privileges.all(:order=>"priority ASC").select{|p| p.applicable?} %>
              <% if all_privileges.count > 0 %>
                <% if ind==0 or ind==1 or ind==4 %>
                  <td>
                  <% end %>
                  <table id="listing" align="center" width="300px" class="privilege_table" cellpadding="1" cellspacing="1">
                    <tr class="tr-head">
                      <td><%= check_box_tag "check_all", nil, false, {:class=>"check_all_#{privilege_tag.id}", :onChange=>"privilege_tag_check_all_or_none('#{privilege_tag.id}',this);" } %></td>
                      <td><%= t(privilege_tag.name_tag) %></td>
                    </tr>
                    <tr class="tr-blank"></tr>
                    <% all_privileges.each do |privilege| %>
                      <%  if @hr.blank?  %>
                        <% if privilege.name =="HrBasics" or  privilege.name =="EmployeeAttendance" or privilege.name =="PayslipPowers" or privilege.name =="EmployeeSearch" %>
                          <% next %>
                        <% end %>
                      <% end %>
                      <%  if @finance.blank?  %>
                        <% if privilege.name =="FinanceControl" %>
                          <% next %>
                        <% end %>
                      <% end %>

                      <% if privilege.name =="SMSManagement" %>
                        <% if  @sms_setting==true %>
                          <tr class="tr-<%= cycle('odd', 'even') %>">
                            <td class="col-8"><%= check_box_tag "user[privilege_ids][]", privilege.id, @user_privileges.include?(privilege),{:class=>"privilege_check_#{privilege_tag.id}", :onChange=>"privilege_check('#{privilege_tag.id}', this)", :id=>"privilege_check_#{privilege.id}"}%></td>
                            <td class="col-9"><%= t(privilege.description) %> </td>
                          </tr>
                          <script type="text/javascript">
                            privilege_check('<%= privilege_tag.id  %>', $("privilege_check_<%=privilege.id%>"))
                          </script>
                        <% end %>
                        <% next %>
                      <% end %>
                      <tr class="tr-<%= cycle('odd', 'even') %>">
                        <td class="col-8"><%= check_box_tag "user[privilege_ids][]", privilege.id, @user_privileges.include?(privilege),{:class=>"privilege_check_#{privilege_tag.id}", :onChange=>"privilege_check('#{privilege_tag.id}', this)", :id=>"privilege_check_#{privilege.id}"}%></td>
                        <td class="col-9"><%= t(privilege.description) %> </td>
                      </tr>
                      <script type="text/javascript">
                        privilege_check('<%= privilege_tag.id  %>', $("privilege_check_<%=privilege.id%>"))
                      </script>
                    <% end %>
                  </table>
                 

                  <% if ind==0 or ind==3 or ind==4 %>
                  </td>
                <% end %>
              <% end %>
            <% end %>
                <%end%>
          <td>
          

            <% if @current_user.admin %>

                    <% privilege_group = PrivilegeGroup.find_by_name("cio")%>
                    <table id="listing" align="center" width="300px" class="privilege_table" cellpadding="1" cellspacing="1">
                      <tr class="tr-head">
                        <td><%= check_box_tag "privilege_group_ids[]",privilege_group.id , @user.privilege_group_ids.include?(privilege_group.id)%></td>
                        <td><%= privilege_group.name %></td>
                      </tr>

                    </table>
            <%else%>

                <% @privilege_groups.each do|pg|%>
           <% if @current_user.privilege_groups.collect(&:allowed_privilege_group).compact.flatten.include?(pg.name) %>

                    <table id="listing" align="center" width="300px" class="privilege_table" cellpadding="1" cellspacing="1">
                    <tr class="tr-head">
                      <td><%= check_box_tag "privilege_group_ids[]",pg.id , @user.privilege_group_ids.include?(pg.id)%></td>
                      <td><%= t(pg.name) %></td>
                    </tr>
                      <% if pg.name == "dean_academics" %>

                          <tr class="tr-<%= cycle('odd', 'even') %>">

                            <td class="col-9" colspan="2"> Select Program Group </td>
                          </tr>

                      <% ProgrammeGroup.active.each do |prg| %>

                      <tr class="tr-<%= cycle('odd', 'even') %>">
                        <td class="col-8"><%= check_box_tag "user[programme_group_ids][]", prg.id, @user.programme_groups.include?(prg),{:class=>"programme_group_check_#{prg.id}", :id=>"programme_group_check_#{prg.id}"}%></td>
                        <td class="col-9"><%= prg.name %> </td>
                      </tr>

                      <% end  %>
                      <% end  %>

                  </table>


                 <% end %>
                 <%end%>
                  <%end%>

                  </td>
                </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>

